body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
}
.main-container {
  display: flex;
  flex-direction: row;
  width: 1200px;
  background-color: #fff;
  margin: auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}
/* Sidebar section */
.sidebar-section {
  background-color: #1e2939;
  width: 370px;
  padding: 40px 0;
  width: 370px;
  margin: 0 0 0 0;
}
.section-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #fff;
  margin-bottom: 10px;
}
.contacts-section,
.soft-skils-section,
.tech-skils-section {
  margin: 50px 0 0 40px;
}
/* contact section */
.contacts-section-type {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  margin-right: 5px;
}
.contacts-section-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  opacity: 0.5;
}
/* skils section */
.skils-list {
  padding: 0 0 0 16px;
  color: #fb6d3a;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
}
.skils-line {
  color: #fff;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}

/* Main content section */

.main-content-section {
  padding: 100px 90px;
}
.about-my-profession {
  color: black;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
/* About me section */
.about-me-section {
  margin: 0 0 40px 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  margin-bottom: 25px;
  color: #000000;
}
.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.main-content-title {
  color: #000;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}
/* My project section */
.my-project-section {
  margin-bottom: 50px;
}
.my-pojects-list {
  padding: 0 0 0 17px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}
.my-pojects-content {
  font-weight: normal;
  color: #595959;
  padding-left: 10px;
}
.my-pojects-link {
  color: #595959;
}
.my-pojects-bracket {
  font-weight: bold;
  color: #000000;
}
.period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.black {
  color: #000;
}
/* My work-experience section */
.my-work-experience-company {
  margin-bottom: 20px;
  width: 525px;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin: 0 0 10px 0;
}
.orange {
  color: #fb6d3a;
}

.my-work-experience-duties {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  padding: 0 0 0 15px;
}
/* My education section */
.my-education-section {
  margin-top: 45px;
}
.my-education-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin-bottom: 10px;
}
.main-education-faculty {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  margin: 0 0 10px 0;
}
